In [11]:
import json

# JSON string (notice the single quotes wrapping, double quotes inside)
car_json = '{"model": "Toyota Corolla", "year": 2024, "price": 22000}'

# Parse JSON string to Python dict
car_dict = json.loads(car_json)

print("Type:", type(car_dict))
print("Data:", car_dict)
print("Model:", car_dict["model"])

Type: <class 'dict'>
Data: {'model': 'Toyota Corolla', 'year': 2024, 'price': 22000}
Model: Toyota Corolla

In [12]:
# Python dictionary
camry = {
    "model": "Toyota Camry",
    "year": 2024,
    "price": 28000,
    "is_hybrid": True,
    "features": ["Safety Sense", "Apple CarPlay"]
}

# Convert to JSON string
camry_json = json.dumps(camry)
print("Type:", type(camry_json))
print("JSON:", camry_json)

# Pretty print with indent
camry_pretty = json.dumps(camry, indent=2)
print("\nPretty JSON:")
print(camry_pretty)

Type: <class 'str'>
JSON: {"model": "Toyota Camry", "year": 2024, "price": 28000, "is_hybrid": true, "features": ["Safety Sense", "Apple CarPlay"]}

Pretty JSON:
{
  "model": "Toyota Camry",
  "year": 2024,
  "price": 28000,
  "is_hybrid": true,
  "features": [
    "Safety Sense",
    "Apple CarPlay"
  ]
}

In [13]:
# Car specification
rav4 = {
    "model": "Toyota RAV4",
    "type": "SUV",
    "year": 2024,
    "variants": [
        {"name": "Gasoline", "horsepower": 203, "price": 28000},
        {"name": "Hybrid", "horsepower": 219, "price": 30000}
    ]
}

# Write to file
with open("rav4_spec.json", "w") as f:
    json.dump(rav4, f, indent=2)

print("File created: rav4_spec.json")

File created: rav4_spec.json

In [14]:
# Read from file
with open("rav4_spec.json", "r") as f:
    rav4_loaded = json.load(f)

print("Type:", type(rav4_loaded))
print("\nModel:", rav4_loaded["model"])
print("\nVariants:")
for variant in rav4_loaded["variants"]:
    print(f"  {variant['name']}: ${variant['price']:,}")

Type: <class 'dict'>

Model: Toyota RAV4

Variants:
  Gasoline: $28,000
  Hybrid: $30,000

In [15]:
# Invalid JSON (missing quotes around key)
invalid_json = '{model: "Toyota Prius"}'

In [16]:
try:
    data = json.loads(invalid_json)
    print(data)
except json.JSONDecodeError as e:
    print(f"Error parsing JSON: {e}")

Error parsing JSON: Expecting property name enclosed in double quotes: line 1 column 2 (char 1)

In [17]:
# Valid JSON
valid_json = '{"model": "Toyota Prius", "is_hybrid": true}'

In [18]:
try:
    data = json.loads(valid_json)
    print("\nSuccessfully parsed:", data)
except json.JSONDecodeError as e:
    print(f"Error: {e}")

Successfully parsed: {'model': 'Toyota Prius', 'is_hybrid': True}

In [19]:
# Create multiple car specifications
toyota_inventory = [
    {
        "document_id": "toyota_corolla_2024",
        "model": "Toyota Corolla",
        "type": "Sedan",
        "price_range": {"min": 20000, "max": 27000},
        "mpg": {"city": 30, "highway": 38},
        "seating": 5
    },
    {
        "document_id": "toyota_rav4_2024",
        "model": "Toyota RAV4",
        "type": "SUV",
        "price_range": {"min": 28000, "max": 42000},
        "mpg": {"city": 27, "highway": 35},
        "seating": 5
    },
    {
        "document_id": "toyota_highlander_2024",
        "model": "Toyota Highlander",
        "type": "SUV",
        "price_range": {"min": 37000, "max": 50000},
        "mpg": {"city": 21, "highway": 29},
        "seating": 8
    }
]

In [22]:
# Save to file
with open("toyota_inventory.json", "w") as f:
    json.dump(toyota_inventory, f, indent=2)

print("Saved 3 car specifications to toyota_inventory.json")

Saved 3 car specifications to toyota_inventory.json

In [23]:
# Read back and process
with open("toyota_inventory.json", "r") as f:
    inventory = json.load(f)

In [24]:
print(f"Loaded {len(inventory)} cars\n")

Loaded 3 cars

In [25]:
inventory[0]

{'document_id': 'toyota_corolla_2024',
 'model': 'Toyota Corolla',
 'type': 'Sedan',
 'price_range': {'min': 20000, 'max': 27000},
 'mpg': {'city': 30, 'highway': 38},
 'seating': 5}

In [26]:
inventory[1]

{'document_id': 'toyota_rav4_2024',
 'model': 'Toyota RAV4',
 'type': 'SUV',
 'price_range': {'min': 28000, 'max': 42000},
 'mpg': {'city': 27, 'highway': 35},
 'seating': 5}

In [27]:
inventory[0]["price_range"]["min"]

20000

In [28]:
inventory[0]["price_range"]["max"]

27000

In [30]:
# Process each car
for car in inventory:
    print(f"Model: {car['model']}")
    print(f"  Type: {car['type']}")
    print(f"  Price: ${car['price_range']['min']:,} - ${car['price_range']['max']:,}")
    print(f"  MPG: {car['mpg']['city']} city / {car['mpg']['highway']} highway")
    print(f"  Seats: {car['seating']}")
    print()

Model: Toyota Corolla
  Type: Sedan
  Price: $20,000 - $27,000
  MPG: 30 city / 38 highway
  Seats: 5

Model: Toyota RAV4
  Type: SUV
  Price: $28,000 - $42,000
  MPG: 27 city / 35 highway
  Seats: 5

Model: Toyota Highlander
  Type: SUV
  Price: $37,000 - $50,000
  MPG: 21 city / 29 highway
  Seats: 8

In [34]:
# Filter example - Find SUVs under $40k
print("SUVs with base price under $40,000:")
for car in inventory:
    if car['type'] == 'SUV' and car['price_range']['min'] < 40000:
        print(f"  {car['model']}: ${car['price_range']['min']:,}")

SUVs with base price under $40,000:
  Toyota RAV4: $28,000
  Toyota Highlander: $37,000