In [1]:
import json

In [2]:
# Array of car objects in single JSON file
cars_array = [
    {"model": "Toyota Corolla", "type": "Sedan", "price": 22000},
    {"model": "Toyota RAV4", "type": "SUV", "price": 30000},
    {"model": "Toyota Camry", "type": "Sedan", "price": 28000}
]

In [3]:
cars_array[0]

{'model': 'Toyota Corolla', 'type': 'Sedan', 'price': 22000}

In [4]:

# Save as single JSON file
with open("cars_single.json", "w") as f:
    json.dump(cars_array, f, indent=2)

print("Created: cars_single.json")

Created: cars_single.json

In [5]:
cars_list = [
    {"model": "Toyota Corolla", "type": "Sedan", "price": 22000},
    {"model": "Toyota RAV4", "type": "SUV", "price": 30000},
    {"model": "Toyota Camry", "type": "Sedan", "price": 28000}
]

In [6]:
cars_list[0]

{'model': 'Toyota Corolla', 'type': 'Sedan', 'price': 22000}

In [7]:
# Save as JSONL - write each object on its own line
with open("cars_jsonl.jsonl", "w") as f:
    for car in cars_list:
        f.write(json.dumps(car) + "\n")

print("Created: cars_jsonl.jsonl")

Created: cars_jsonl.jsonl

In [ ]:
# Read JSONL file
cars_from_jsonl = []

In [9]:

with open("cars_jsonl.jsonl", "r") as f:
    for line in f:
        car = json.loads(line.strip())
        cars_from_jsonl.append(car)

print(f"Loaded {len(cars_from_jsonl)} cars from JSONL\n")

Loaded 3 cars from JSONL

In [11]:
print(cars_from_jsonl[0])

{'model': 'Toyota Corolla', 'type': 'Sedan', 'price': 22000}

In [12]:
print(cars_from_jsonl)

[{'model': 'Toyota Corolla', 'type': 'Sedan', 'price': 22000}, {'model': 'Toyota RAV4', 'type': 'SUV', 'price': 30000}, {'model': 'Toyota Camry', 'type': 'Sedan', 'price': 28000}]

In [10]:

for car in cars_from_jsonl:
    print(f"{car['model']}: ${car['price']:,}")

Toyota Corolla: $22,000
Toyota RAV4: $30,000
Toyota Camry: $28,000

In [14]:
# Read single JSON file
with open("cars_single.json", "r") as f:
    cars = json.load(f)

In [15]:
type(cars)

list

In [16]:
cars[0]

{'model': 'Toyota Corolla', 'type': 'Sedan', 'price': 22000}

In [17]:
# Convert to JSONL
with open("converted_to_jsonl.jsonl", "w") as f:
    for car in cars:
        f.write(json.dumps(car) + "\n")

print("Converted JSON to JSONL")

Converted JSON to JSONL

In [18]:
# Now convert JSONL to JSON
cars_from_jsonl = []

In [19]:
with open("converted_to_jsonl.jsonl", "r") as f:
    for line in f:
        cars_from_jsonl.append(json.loads(line.strip()))

In [20]:
cars_from_jsonl[0]

{'model': 'Toyota Corolla', 'type': 'Sedan', 'price': 22000}

In [21]:
# Save as single JSON
with open("converted_to_json.json", "w") as f:
    json.dump(cars_from_jsonl, f, indent=2)

print("Converted JSONL to JSON")

Converted JSONL to JSON

In [22]:
# Complete Toyota specs
toyota_models = [
    {
        "document_id": "toyota_corolla_2024",
        "model": "Toyota Corolla",
        "type": "Sedan",
        "price_range": {"min": 20000, "max": 27000},
        "features": ["Safety Sense", "Apple CarPlay"]
    },
    {
        "document_id": "toyota_rav4_2024",
        "model": "Toyota RAV4",
        "type": "SUV",
        "price_range": {"min": 28000, "max": 42000},
        "features": ["Hybrid Option", "AWD"]
    },
    {
        "document_id": "toyota_highlander_2024",
        "model": "Toyota Highlander",
        "type": "SUV",
        "price_range": {"min": 37000, "max": 50000},
        "features": ["3-Row Seating", "Hybrid Option"]
    }
]

In [23]:
type(toyota_models)

list

In [24]:
toyota_models[0]

{'document_id': 'toyota_corolla_2024',
 'model': 'Toyota Corolla',
 'type': 'Sedan',
 'price_range': {'min': 20000, 'max': 27000},
 'features': ['Safety Sense', 'Apple CarPlay']}

In [25]:
# Save in both formats
# Single JSON
with open("toyota_specs.json", "w") as f:
    json.dump(toyota_models, f, indent=2)

print("  - toyota_specs.json (single file)")

  - toyota_specs.json (single file)

In [26]:

# JSONL
with open("toyota_specs.jsonl", "w") as f:
    for model in toyota_models:
        f.write(json.dumps(model) + "\n")

print("  - toyota_specs.jsonl (line format)")

  - toyota_specs.jsonl (line format)