In [1]:
import json

In [2]:
# Row-oriented: Array of objects
row_format = [
    {"model": "Corolla", "type": "Sedan", "price": 22000},
    {"model": "RAV4", "type": "SUV", "price": 28000},
    {"model": "Camry", "type": "Sedan", "price": 26000}
]

print("Row-oriented format:")
print(json.dumps(row_format, indent=2))

Row-oriented format:
[
  {
    "model": "Corolla",
    "type": "Sedan",
    "price": 22000
  },
  {
    "model": "RAV4",
    "type": "SUV",
    "price": 28000
  },
  {
    "model": "Camry",
    "type": "Sedan",
    "price": 26000
  }
]

In [3]:
# Column-oriented: Object with arrays
column_format = {
    "model": ["Corolla", "RAV4", "Camry"],
    "type": ["Sedan", "SUV", "Sedan"],
    "price": [22000, 28000, 26000]
}

print("Column-oriented format:")
print(json.dumps(column_format, indent=2))

Column-oriented format:
{
  "model": [
    "Corolla",
    "RAV4",
    "Camry"
  ],
  "type": [
    "Sedan",
    "SUV",
    "Sedan"
  ],
  "price": [
    22000,
    28000,
    26000
  ]
}

In [9]:
row_format[0].keys()

dict_keys(['model', 'type', 'price'])

In [10]:
keys = row_format[0].keys()

In [11]:
column_data = {key: [] for key in keys}

In [12]:
column_data

{'model': [], 'type': [], 'price': []}

In [13]:
row_format

[{'model': 'Corolla', 'type': 'Sedan', 'price': 22000},
 {'model': 'RAV4', 'type': 'SUV', 'price': 28000},
 {'model': 'Camry', 'type': 'Sedan', 'price': 26000}]

In [17]:
# Convert row to column format
def row_to_column(row_data):
    if not row_data:
        return {}
    
    # Get all keys from first object
    keys = row_data[0].keys()
    
    # Build column format
    column_data = {key: [] for key in keys}
    
    for row in row_data:
        for key in keys:
            column_data[key].append(row[key])
    
    return column_data

In [18]:
# Convert
column_result = row_to_column(row_format)

In [19]:
print(json.dumps(column_result, indent=2))

{
  "model": [
    "Corolla",
    "RAV4",
    "Camry"
  ],
  "type": [
    "Sedan",
    "SUV",
    "Sedan"
  ],
  "price": [
    22000,
    28000,
    26000
  ]
}