In [1]:
import chromadb

client = chromadb.Client()
collection = client.create_collection(name="toyota_inventory")

# Add cars with metadata
collection.add(
    documents=[
        "Toyota Corolla: Affordable sedan, excellent fuel efficiency",
        "Toyota Camry: Premium sedan, powerful performance",
        "Toyota RAV4: Compact SUV, hybrid available",
        "Toyota Highlander: Large SUV, seats 8 passengers"
    ],
    ids=["corolla_2024", "camry_2024", "rav4_2024", "highlander_2024"],
    metadatas=[
        {"model": "Corolla", "type": "Sedan", "price": 22000, "seating": 5},
        {"model": "Camry", "type": "Sedan", "price": 28000, "seating": 5},
        {"model": "RAV4", "type": "SUV", "price": 30000, "seating": 5},
        {"model": "Highlander", "type": "SUV", "price": 37000, "seating": 8}
    ]
)

print(f"Added {collection.count()} cars")

Added 4 cars

In [7]:
# Query with type filter
results = collection.query(
    query_texts=["family vehicle"],
    n_results=3,
    where={"type": "SUV"}
)

In [8]:
results['ids'][0]

['highlander_2024', 'rav4_2024']

In [10]:
len(results['documents'][0])

2

In [11]:
results['metadatas'][0][0]

{'type': 'SUV', 'price': 37000, 'seating': 8, 'model': 'Highlander'}

In [13]:
results['metadatas'][0][1]

{'seating': 5, 'price': 30000, 'type': 'SUV', 'model': 'RAV4'}

In [14]:
print("Query: 'family vehicle' (SUVs only)\n")

for i in range(len(results['documents'][0])):
    metadata = results['metadatas'][0][i]
    print(f"{metadata['model']}: ${metadata['price']:,}")

Query: 'family vehicle' (SUVs only)

Highlander: $37,000
RAV4: $30,000

In [15]:
# Query with price filter
results = collection.query(
    query_texts=["reliable car"],
    n_results=3,
    where={"price": {"$lt": 25000}}
)

In [16]:
print("Query: 'reliable car' (under $25,000)\n")

for i in range(len(results['documents'][0])):
    metadata = results['metadatas'][0][i]
    print(f"{metadata['model']}: ${metadata['price']:,}")

Query: 'reliable car' (under $25,000)

Corolla: $22,000

In [17]:
# Query with multiple filters

results = collection.query(
    query_texts=["spacious vehicle"],
    n_results=3,
    where={
        "$and": [
            {"type": "SUV"},
            {"price": {"$lte": 35000}}
        ]
    }
)

In [20]:
results['ids'][0]

['rav4_2024']

In [21]:
print("Query: 'spacious vehicle'\n")
print("Filters: SUV + Price <= $35,000\n")

for i in range(len(results['documents'][0])):
    metadata = results['metadatas'][0][i]
    print(f"{metadata['model']}:")
    print(f"  Type: {metadata['type']}")
    print(f"  Price: ${metadata['price']:,}\n")

Query: 'spacious vehicle'

Filters: SUV + Price <= $35,000

RAV4:
  Type: SUV
  Price: $30,000